<% @results.each do |instagram| %>
<% if instagram.caption != nil
    caption_text = instagram.caption.text
  end %>
<% title_text = caption_text.to_s + '<br/>' + '<strong><a target="_blank" href = "http://instagram.com/' + instagram.user.username.to_s + '">' + instagram.user.username.to_s + '</a></strong>'  + ' ' + instagram.likes[:count].to_s + ' Likes' + '<br/>' + '<a target="_blank" href = "' + instagram.link.to_s + '">' + 'View on Instagram' + '</a>'%>
  <div class = "image-display">
    <div class = "overlay">
      <%= link_to image_tag(instagram.images.standard_resolution.url, class: "tagged-images"), instagram.images.standard_resolution.url, :class => "fancybox", :title => title_text %>
    </div>
  </div>
<% end %>
<%= will_paginate @results %>
<script> 
jQuery(function() {
  $("a.fancybox").fancybox({
            'transitionIn'      : 'fade',
            'transitionOut'     : 'fade',
            'titleFormat'       : function(title) {
                return title;
            },
              beforeShow: function(){
      $("body").css({'overflow-y':'hidden'});
    },
    afterClose: function(){
      $("body").css({'overflow-y':'visible'});
    },
            helpers : {
              title: {
                type: 'inside',
                position: 'bottom'
              },
                  overlay: {
      locked: false
    }
            },

  });

});
</script>
<!-- instagram.caption.text
instagram.user.username
instagram.likes[:count]

 -->
