
<div class = "title-text">
  Geisel Library
</div>


<div class = "subtitle-text">
    <p class="lead">
  University of California San Diego
</p>
</div>

<div class = "tagged-images-container ">
  <div class = "tagged-images-container-position">
    <%= render :partial => 'photos' %>
  </div>

</div>
