
<div class = "title-text">

  Geisel Library

</div>


<div class = "subtitle-text">
    <p class="lead">
  University of California San Diego
</p>
</div>

<div class = "tagged-images-container ">
  <div class = "tagged-images-container-position">
    <% @result.each do |instagram| %>
    <%#= image_tag instagram.images.standard_resolution.url %>
            <%= link_to image_tag(instagram.images.standard_resolution.url, class: "tagged-images"), instagram.images.standard_resolution.url, class: "test-popup-link" %>
            
            <%#= if instagram.caption != nil
                  instagram.caption.text
                end %>
            <%= instagram.user.username %>
            <%= instagram.likes %>
            <%#= image_tag(instagram.images.standard_resolution.url, class: "tagged-images") %>
        
    <% end %>
    <%= @data %>
  </div>
</div>
